.slider-item {
    padding: 20px;
    width: 350px;
    height: 450px;
    background-color: #f8f8f8;
    box-shadow: 1px 1px 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 500ms ease;
}

.slider-item * {
    color: #2e2e2e;
}

.slider-item-img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slider-item img {
    width: 100%;
}

.slider-item-text-block h4 {
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.slider-item-props-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
    font-size: 1.125rem;
    text-align: left;
}

.slider-item-state {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}

.slider-item-stars-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    position: absolute;
    left: 100px;
}

.slider-item-star {
    width: 22px;
    height: 22px;
    fill: #6F4D1B;
}

.slider-item-text-price {
    margin-top: 5px;
    text-align: center;
    font-size: 1.375rem;
    color: green;
}